.note-list {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 1rem auto;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.no-notes {
  width: 70vw;
  font-size: 1.8rem;
  margin: 4.5rem auto;
  background: #ebe9e9e8;
  border-radius: 12px;
  padding: 0.4rem;
  letter-spacing: 8px;
  color: grey;
}

.img {
  width: 7%;
}

@media only screen and (max-width: 800px) {
  .img {
    width: 16%;
  }
  .no-notes {
    font-size: 1.1rem;
    width: 80vw;
  }
}
